<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuanbao.record.mbp.mapper.AdminPermissionMapper">
    <resultMap id="adminPermissionMap" type="com.yuanbao.record.mbp.mapper.entity.AdminPermission">
        <id column="id" property="id"></id>
        <result column="permission" property="permission"></result>
        <result column="role_id" property="roleId"></result>
        <result column="created_at" property="createdAt"></result>
        <result column="updated_at" property="updatedAt"></result>
        <result column="deleted" property="deleted"></result>
        <collection property="role" ofType="com.yuanbao.record.mbp.mapper.entity.AdminRole" javaType="java.util.List">
            <id column="id" property="id"></id>
            <result column="name" property="name"></result>
        </collection>
    </resultMap>

    <select id="selectRoleList" resultType="com.yuanbao.record.mbp.mapper.entity.AdminPermission">
        SELECT ap.permission,
               ar.NAME AS role
        FROM admin_role ar
                 INNER JOIN admin_user au ON au.role_id = ar.id
        WHERE ap.deleted != '1' AND ar.deleted != '1'
    </select>
    <select id="selectById" resultType="com.yuanbao.record.mbp.mapper.entity.AdminPermission">
        SELECT *
        FROM admin_permission ap
        WHERE ap.deleted != '1'
          AND
            ap.id = #{au.id ,jdbcType=VARCHAR}
    </select>
    <select id="selectByRoleId" resultType="com.yuanbao.record.mbp.mapper.entity.AdminPermission">
        SELECT *
        FROM admin_permission ap
        WHERE ap.deleted != '1'
          AND
            ap.role_id = #{au.roleId ,jdbcType=VARCHAR}
    </select>
    <insert id="insert" parameterType="com.yuanbao.record.mbp.mapper.entity.AdminPermission">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into admin_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="permission!=null">
                permission,
            </if>
            <if test="roleId!=null">
                role_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="permission!=null">
                #{permission,jdbcType=VARCHAR},
            </if>
            <if test="roleId!=null">
                #{roleId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <delete id="deleteByRoleId" parameterType="com.yuanbao.record.mbp.mapper.entity.AdminPermission">
        DELETE
        FROM admin_permission ap
        WHERE ap.deleted != '1'
          AND
            ap.role_id =
        #{au.roleId ,jdbcType=VARCHAR}
    </delete>

</mapper>