<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuanbao.record.mbp.mapper.AdminUserMapper">
    <resultMap id="adminUserMap" type="com.yuanbao.record.mbp.mapper.entity.AdminUser">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="password" property="password"></result>
        <result column="avatar" property="avatar"></result>
        <result column="role_id" property="roleId"></result>
        <result column="created_at" property="createdAt"></result>
        <result column="updated_at" property="updatedAt"></result>
        <result column="deleted" property="deleted"></result>
        <collection property="role" ofType="com.yuanbao.record.mbp.mapper.entity.AdminRole" javaType="java.util.List">
            <id column="id" property="id"></id>
            <result column="name" property="name"></result>
        </collection>
    </resultMap>

    <select id="selectAdminListSearch" resultType="com.yuanbao.record.mbp.mapper.entity.AdminUser">
        SELECT
        au.id,
        au.NAME,
        au.PASSWORD,
        au.avatar,
        au.created_at,
        ar.NAME AS role
        FROM admin_role ar
        INNER JOIN admin_user au ON au.role_id = ar.id
        WHERE
        au.deleted != '1' AND ar.deleted != '1'
        <if test="keyword != 'null'.toString() and keyword != '' ">
            AND
            (au.NAME like concat ('%',#{keyword,jdbcType=VARCHAR},'%')
            OR ar.NAME like concat ('%',#{keyword,jdbcType=VARCHAR},'%'))
        </if>
    </select>
    <select id="selectAdminListByName" resultType="com.yuanbao.record.mbp.mapper.entity.AdminUser">
        SELECT au.id,
               au.NAME,
               au.PASSWORD,
               au.avatar,
               au.created_at,
               au.role_id,
               ar.NAME AS role
        FROM admin_role ar
                 INNER JOIN admin_user au ON au.role_id = ar.id
        WHERE au.deleted != '1' AND ar.deleted != '1'
        AND
        au.NAME = #{au.name ,jdbcType=VARCHAR}
    </select>
    <insert id="insert" parameterType="com.yuanbao.record.mbp.mapper.entity.AdminUser">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into admin_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name!=null">
                name,
            </if>
            <if test="password!=null">
                password,
            </if>
            <if test="avatar!=null">
                avatar,
            </if>
            <if test="roleId!=null">
                role_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name!=null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="password!=null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="avatar!=null">
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="roleId!=null">
                #{roleId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.yuanbao.record.mbp.mapper.entity.AdminUser">
        update admin_user
        set name     = #{name,jdbcType=VARCHAR},
            password = #{password,jdbcType=VARCHAR},
            avatar   = #{avatar,jdbcType=VARCHAR},
            role_id  = #{roleId,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>