<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuanbao.record.mbp.mapper.AdminReminderMapper">

    <select id="selectList" resultType="com.yuanbao.record.mbp.mapper.entity.AdminReminder">
        SELECT ar.id,
               ar.user_feedback_id,
               ar.order_product_id,
               ar.product_skus_id,
               ar.is_read,
               ar.created_at,
               b.name   AS user_name,
               op.order_sn,
               ps.title AS product_skus_title
        FROM admin_reminder ar
                 LEFT JOIN (SELECT name,
                                   a.user_feedback_id
                            FROM user
                                     INNER JOIN (SELECT uf.user_id, ar.user_feedback_id
                                                 FROM admin_reminder ar
                                                          LEFT JOIN user_feedback uf ON uf.id = ar.user_feedback_id) a
                                                ON a.user_id = user.id) b ON b.user_feedback_id = ar.user_feedback_id
                 LEFT JOIN order_product op ON op.id = ar.order_product_id
                 LEFT JOIN product_skus ps ON ps.id = ar.product_skus_id
        WHERE ar.deleted != 1
        ORDER BY
            ar.is_read
    </select>

    <insert id="insert" parameterType="com.yuanbao.record.mbp.mapper.entity.AdminReminder">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into admin_reminder
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userFeedbackId!=null">
                user_feedback_id,
            </if>
            <if test="orderProductId!=null">
                order_product_id,
            </if>
            <if test="productSkusId!=null">
                product_skus_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userFeedbackId!=null">
                #{userFeedbackId,jdbcType=INTEGER},
            </if>
            <if test="orderProductId!=null">
                #{orderProductId,jdbcType=INTEGER},
            </if>
            <if test="productSkusId!=null">
                #{productSkusId,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.yuanbao.record.mbp.mapper.entity.AdminReminder">
        update admin_reminder
        set is_read = 1
        where id = #{id,jdbcType=BIGINT}
    </update>

</mapper>