<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuanbao.record.mbp.mapper.OrderProductMapper">

    <select id="selectOrderProductList" resultType="com.yuanbao.record.mbp.mapper.entity.OrderProduct">
        SELECT *
        FROM order_product op
        WHERE op.deleted != '1'
        <if test="userOrderId != '' and userOrderId != null">
            AND (op.user_order_id = (#{userOrderId,jdbcType=BIGINT}))
        </if>
        <if test="orderSn != '' and orderSn != null">
            AND (op.order_sn = (#{orderSn,jdbcType=BIGINT}))
        </if>
        <if test="productTitle != null and productTitle != '' and productTitle != 'null'.toString">
            AND (op.product_title = (#{productTitle,jdbcType=VARCHAR}))
        </if>
        <if test="productSkusTitle != null and productSkusTitle != '' and productSkusTitle != 'null'.toString">
            AND (op.product_skus_title = (#{productSkusTitle,jdbcType=VARCHAR}))
        </if>
    </select>

    <select id="selectOrderProductListWithReceiver" resultType="com.yuanbao.record.mbp.mapper.entity.OrderProduct">
        SELECT
        uo.receiver,
        op.product_title,
        op.product_skus_title,
        op.number,
        op.created_at
        FROM
        order_product op
        INNER JOIN user_order uo ON uo.id = op.user_order_id
        WHERE
        op.deleted != '1'
        <if test="userOrderId != '' and userOrderId != null">
            AND (op.user_order_id = (#{userOrderId,jdbcType=BIGINT}))
        </if>
        <if test="orderSn != '' and orderSn != null">
            AND (op.order_sn = (#{orderSn,jdbcType=BIGINT}))
        </if>
        <if test="productTitle != null and productTitle != '' ">
            AND (op.product_title = (#{productTitle,jdbcType=VARCHAR}))
        </if>
        <if test="productSkusTitle != null and productSkusTitle != '' ">
            AND (op.product_skus_title = (#{productSkusTitle,jdbcType=VARCHAR}))
        </if>
        <choose>
            <when test="dateState == 1">
                and DATE_FORMAT( uo.created_at, '%Y%m' ) = DATE_FORMAT( CURDATE(), '%Y%m' )
            </when>
            <when test="dateState == 2">
                and YEAR ( uo.created_at )= YEAR (NOW())
            </when>
            <when test="dateState == 3 and specifiedTime1 != '' and specifiedTime2 != ''">
                and uo.created_at between #{specifiedTime1} and #{specifiedTime2}
            </when>
        </choose>
        ORDER BY uo.created_At
        DESC
    </select>

    <select id="selectOrderProductListDateSearchStatus" resultType="com.yuanbao.record.mbp.mapper.entity.OrderProduct">
        SELECT
        uo.receiver,
        uo.USER,
        uo.order_sn,
        uo.order_status,
        product_title,
        product_skus_title,
        number,
        op.created_at,
        op.updated_at
        FROM
        order_product op
        INNER JOIN user_order uo ON op.user_order_id = uo.id
        WHERE
        uo.deleted != '1' and uo.order_status >= 3
        <if test="userOrderId != '' and userOrderId != null">
            AND (uo.id = #{userOrderId,jdbcType=BIGINT})
        </if>
        <if test="orderSn != '' and orderSn != null">
            AND (op.order_sn = #{orderSn,jdbcType=BIGINT})
        </if>
        <if test="receiver != '' and receiver != null">
            AND (uo.receiver like concat ('%',#{receiver,jdbcType=VARCHAR},'%'))
        </if>
        <if test="productTitle != '' and productTitle != null">
            AND (uo.product_title like concat ('%',#{productTitle,jdbcType=VARCHAR},'%'))
        </if>
        <if test="productSkusTitle != '' and productSkusTitle != null">
            AND (uo.product_skus_title like concat ('%',#{productSkusTitle,jdbcType=VARCHAR},'%'))
        </if>
        <choose>
            <when test="dateState==1">
                and DATE_FORMAT( uo.created_at, '%Y%m' ) = DATE_FORMAT( CURDATE(), '%Y%m' )
            </when>
            <when test="dateState == 2">
                and YEAR ( uo.created_at )= YEAR (NOW())
            </when>
            <when test="dateState == 3 and specifiedTime1 != '' and specifiedTime2 != ''">
                and uo.created_at between #{specifiedTime1} and #{specifiedTime2}
            </when>
        </choose>
    </select>

    <select id="selectProductListDateCountSearch" resultType="com.yuanbao.record.mbp.mapper.entity.OrderProduct">
        SELECT
        op.product_title,
        op.product_skus_title,
        COUNT(*) AS count_order_number,
        sum( op.number ) AS sum_product_number
        FROM
        user_order uo
        INNER JOIN order_product op ON op.user_order_id = uo.id
        WHERE
        uo.deleted != '1'
        <if test="productTitle != '' and productTitle != null">
            AND (uo.product_title = #{productTitle,jdbcType=BIGINT})
        </if>
        <if test="productSkusTitle != '' and productSkusTitle != null">
            AND (uo.product_skus_title like concat ('%',#{productSkusTitle,jdbcType=VARCHAR},'%'))
        </if>
        <choose>
            <when test="dateState==1">
                and DATE_FORMAT( uo.created_at, '%Y%m' ) = DATE_FORMAT( CURDATE(), '%Y%m' )
            </when>
            <when test="dateState == 2">
                and YEAR ( uo.created_at )= YEAR (NOW())
            </when>
            <when test="dateState == 3 and specifiedTime1 != '' and specifiedTime2 != ''">
                and uo.created_at between #{specifiedTime1} and #{specifiedTime2}
            </when>
        </choose>
        GROUP BY
        product_title,product_skus_title
    </select>

    <select id="selectProductListDateCountSearchAllList" resultType="com.yuanbao.record.mbp.mapper.entity.OrderProduct">
        SELECT
        op.product_title,
        op.product_skus_title,
        COUNT(*) AS count_order_number,
        sum( op.number ) AS sum_product_number
        FROM
        user_order uo
        INNER JOIN order_product op ON op.user_order_id = uo.id
        WHERE
        uo.deleted != '1'
        <if test="productTitle != '' and productTitle != null">
            AND (uo.product_title = #{productTitle,jdbcType=BIGINT})
        </if>
        <if test="productSkusTitle != '' and productSkusTitle != null">
            AND (uo.product_skus_title like concat ('%',#{productSkusTitle,jdbcType=VARCHAR},'%'))
        </if>
        <choose>
            <when test="dateState==1">
                and DATE_FORMAT( uo.created_at, '%Y%m' ) = DATE_FORMAT( CURDATE(), '%Y%m' )
            </when>
            <when test="dateState == 2">
                and YEAR ( uo.created_at )= YEAR (NOW())
            </when>
            <when test="dateState == 3 and specifiedTime1 != '' and specifiedTime2 != ''">
                and uo.created_at between #{specifiedTime1} and #{specifiedTime2}
            </when>
        </choose>
        GROUP BY
        product_title,product_skus_title
    </select>


    <insert id="insert" parameterType="com.yuanbao.record.mbp.mapper.entity.OrderProduct">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into order_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userOrderId!=null">
                user_order_id,
            </if>
            <if test="orderSn!=null">
                order_sn,
            </if>
            <if test="productId!=null">
                product_id,
            </if>
            <if test="productSkusId!=null">
                product_skus_id,
            </if>
            <if test="productTitle!=null">
                product_title,
            </if>
            <if test="productSkusTitle!=null">
                product_skus_title,
            </if>
            <if test="number!=null">
                number,
            </if>
            <if test="productPicUrl!=null">
                product_pic_url
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userOrderId!=null">
                #{userOrderId,jdbcType=INTEGER},
            </if>
            <if test="orderSn!=null">
                #{orderSn,jdbcType=INTEGER},
            </if>
            <if test="productId!=null">
                #{productId,jdbcType=INTEGER},
            </if>
            <if test="productSkusId!=null">
                #{productSkusId,jdbcType=VARCHAR},
            </if>
            <if test="productTitle!=null">
                #{productTitle,jdbcType=VARCHAR},
            </if>
            <if test="productSkusTitle!=null">
                #{productSkusTitle,jdbcType=VARCHAR},
            </if>
            <if test="number!=null">
                #{number,jdbcType=INTEGER},
            </if>
            <if test="productPicUrl!=null">
                #{productPicUrl,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

</mapper>