<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuanbao.record.mbp.mapper.UserAddressMapper">
    <resultMap id="userAddressMap" type="com.yuanbao.record.mbp.mapper.entity.UserAddress">
        <id column="id" property="id"></id>
        <result column="user_id" property="userId"></result>
        <result column="address_detail" property="addressDetail"></result>
        <result column="receiver" property="receiver"></result>
        <result column="user" property="user"></result>
        <result column="phone" property="phone"></result>
        <result column="isDefault" property="isDefault"></result>
        <result column="created_at" property="createdAt"></result>
        <result column="updated_at" property="updatedAt"></result>
        <result column="deleted" property="deleted"></result>
        <collection property="user" ofType="com.yuanbao.record.mbp.mapper.entity.User" javaType="java.util.List">
            <id column="id" property="id"></id>
            <result column="name" property="name"></result>
            <result column="password" property="password"></result>
            <result column="email" property="email"></result>
            <result column="email_verified_at" property="emailVerifiedAt"></result>
            <result column="avatar" property="avatar"></result>
            <result column="enable" property="enable"></result>
        </collection>
    </resultMap>

    <select id="selectByUserId" resultType="com.yuanbao.record.mbp.mapper.entity.UserAddress">
        SELECT *
        FROM user_address AS ua
        WHERE ua.deleted != '1'
          AND
            ua.user_id = #{ua.user_id ,jdbcType=VARCHAR}
    </select>

    <select id="selectById" resultType="com.yuanbao.record.mbp.mapper.entity.UserAddress">
        SELECT *
        FROM user_address AS ua
        WHERE ua.deleted != '1'
          AND
            ua.id = #{ua.id ,jdbcType=INTEGER}
    </select>

    <insert id="insert" parameterType="com.yuanbao.record.mbp.mapper.entity.UserAddress">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId!=null">
                user_id,
            </if>
            <if test="addressDetail!=null">
                address_detail,
            </if>
            <if test="receiver!=null">
                receiver,
            </if>
            <if test="user!=null">
                user,
            </if>
            <if test="phone!=null">
                phone,
            </if>
            <if test="isDefault!=null">
                is_default,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId!=null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="addressDetail!=null">
                #{addressDetail,jdbcType=VARCHAR},
            </if>
            <if test="receiver!=null">
                #{receiver,jdbcType=VARCHAR},
            </if>
            <if test="user!=null">
                #{user,jdbcType=VARCHAR},
            </if>
            <if test="phone!=null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="isDefault!=null">
                #{isDefault,jdbcType=BOOLEAN},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.yuanbao.record.mbp.mapper.entity.UserAddress">
        update user_address
        set user_id        = #{userId,jdbcType=INTEGER},
            address_detail = #{addressDetail,jdbcType=VARCHAR},
            receiver       = #{receiver,jdbcType=VARCHAR},
            user           = #{user,jdbcType=VARCHAR},
            phone          = #{phone,jdbcType=VARCHAR},
            is_default     = #{isDefault,jdbcType=INTEGER}
        where id = #{id}
    </update>

    <update id="updateIsDefault" parameterType="com.yuanbao.record.mbp.mapper.entity.UserAddress">
        update user_address
        set is_default = 0
        where user_id = #{userId,jdbcType=INTEGER}
    </update>

</mapper>