<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuanbao.record.mbp.mapper.UserFeedbackDetailMapper">

    <select id="selectUserFeedbackDetailByUserFeedbackId"
            resultType="com.yuanbao.record.mbp.mapper.entity.UserFeedbackDetail">
        SELECT ufd.id,
               ufd.user_feedback_id,
               ufd.admin_user_id,
               au.name as admin_user_name,
               ufd.content
        FROM user_feedback_detail ufd
                 LEFT JOIN admin_user au on au.id = ufd.admin_user_id
        WHERE ufd.deleted != '1'
        And user_feedback_id = #{user_feedback_id}
        order by ufd.created_at desc
    </select>

    <insert id="insert" parameterType="com.yuanbao.record.mbp.mapper.entity.UserFeedbackDetail">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into user_feedback_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userFeedbackId!=null">
                user_feedback_id,
            </if>
            <if test="adminUserId!=null">
                admin_user_id,
            </if>
            <if test="content!=null">
                content,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userFeedbackId!=null">
                #{userFeedbackId,jdbcType=VARCHAR},
            </if>
            <if test="adminUserId!=null">
                #{adminUserId,jdbcType=VARCHAR},
            </if>
            <if test="content!=null">
                #{content,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

</mapper>