<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yuanbao.record.search.mapper.EsProductSkusMapper">
    <resultMap id="esProductSkusMap" type="com.yuanbao.record.search.mapper.entity.EsProductSkus">
        <id column="id" property="id"></id>
        <result column="product_id" property="productId"></result>
        <result column="title" property="title"/>
        <result column="avatar" property="avatar"></result>
        <result column="description" property="description"></result>
        <result column="stock" property="stock"></result>
        <result column="created_at" property="createdAt"></result>
        <result column="updated_at" property="updatedAt"></result>
        <result column="deleted" property="deleted"></result>
        <collection property="product" ofType="com.yuanbao.record.mbp.mapper.entity.Product" javaType="java.util.List">
            <id column="id" property="id"></id>
            <result column="title" property="title"></result>
        </collection>
    </resultMap>

    <select id="selectEsProductSkusList" resultType="com.yuanbao.record.search.mapper.entity.EsProductSkus">
        SELECT ps.id,
               ps.title,
               ps.avatar,
               ps.description,
               ps.stock,
               ps.created_at,
               p.title AS product_name
        FROM product p
                 INNER JOIN product_skus ps ON ps.product_id = p.id
        WHERE ps.deleted != '1' AND p.deleted != '1'
        ORDER BY ps.stock
    </select>

</mapper>